.container {
  margin: auto;
  padding: 0 15px;
  width: 500px;
}
ul {
  padding-left: 15px;
  width: 275px;
}
.btn-close {
  background-color: red;
  outline: none;
  border: none;
  float: right;
  color: #fff;
}
.btn-add {
  background-color: green;
  color: #fff;
  padding: 5px 20px;
}
li {
  transition: all 0.1s;
  padding: 5px;
  margin: 5px;
}
li:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}